*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    padding: 1rem;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(53, 154, 204), rgb(45, 23, 97));
}
h1{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 2.5em;
    text-shadow: white 0 0 2px;
}
.card {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 1rem;

  /* preservando aspecto 3d da carta */
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card_front{
    background-color: #41a377;
    transform: rotateY(180deg);
}
.card_front, .card_back{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 2px rgb(0, 0,0, 0.5);
    border-radius: 1rem;

}
.card_back{
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    font-weight: 800;
    color: #2a2a2a;
    background: linear-gradient(to right, #5579BA, #41a377);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_back:hover{
    cursor: pointer;
    filter: brightness(1.2);
    box-shadow: 0px 0px 10px #717171;
}

.flip{
    transform: rotateY(180deg);
}

.card_front img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.card_back img{
    width: fit-content;
    height: 70%;
   
}


.flex-center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  rgb(0, 0,0, 0.8);
    font-weight: 500;
    color: white;
    font-size: 1.5em;
    flex-direction: column; 
    display: none;
    text-align: center;
    padding: 1rem;
}
#gameOver p{
    font-size: 1.75rem;
    animation: increaseText 2s infinite;
}

#restartGame{
    padding: .25em 1.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border: none;
    background-color: #41a377;
    position: inherit;
    top: 60%;
    border-radius: 1.5rem;
}

#restartGame:hover{
    color: #fff;
    filter: brightness(0.8);
    cursor: pointer;
}

@keyframes increaseText {
    0% {  font-size: 1.75rem; }
    50% {  font-size: 1.9rem; }
    100% {  font-size: 1.75rem ;}
}

#gameBoard{
    width:fit-content;
    padding: 3rem 1rem 0;
    height: 100%;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content;
    grid-template-rows: min-content min-content min-content min-content min-content min-content ;
    gap: 1.25rem;
    place-content: center;
    
}